<h1 class="password-logo">CAN<span>&#60i&#62</span>WALK</h1>
<!-- I still need to update many of the classes and ids on these guys -->
<form class="password-container" ng-controller="passwordController" ng-submit="updatePassword()">
  <label class="password-field-label" for="login-password-newPassword">New Password</label>
  <input ng-model="newPassword" id="login-password-newPassword" type="password" placeholder="Enter New Password">
  <label class="password-field-label" for="login-password-confirmPassword">Confirm Password</label>
  <input ng-model="confirmPassword" id="login-password-confirmPassword" type="password" placeholder="Re-enter New Password">
  <div class="login-signIn-buttonLink">
    <button class="login-signIn-button" type="submit">Update Password</button>
  </div>
</form>
