<h1 class="password-logo">CAN<span>&#60i&#62</span>WALK</h1>
<!-- I still need to update many of the classes and ids on these guys -->
<form ng-controller="passwordController" ng-submit="updatePassword()">
  <label class="password-field-label" for="login-signIn-email">Old Password</label>
  <input ng-model="loginEmail" id="login-signIn-email" type="text" placeholder="can@I.walk">
  <label class="password-field-label" for="login-signIn-password">New Password</label>
  <input ng-model="loginPassword" id="login-signIn-password" type="password" placeholder="Password">
  <label class="password-field-label" for="login-signIn-password">Confirm Password</label>
  <input ng-model="loginPassword" id="login-signIn-password" type="password" placeholder="Password">
  <div class="login-signIn-buttonLink">
    <button class="login-signIn-button" type="submit">Update Password</button>
  </div>
</form>
