<header class="caniwalk-header" ng-controller="headerController">
  <a href="#/input-destination"><h4>CAN<span>&#60i&#62</span>WALK</h4></a>
  <div class="caniwalk-header-options-container">
   <!-- <i ng-model="headerOptions" ng-click="headerOptions=!headerOptions" class="fa fa-caret-square-o-left fa-2x" aria-hidden="true"></i> -->
      <!-- <div ng-show="headerOptions" class="caniwalk-header-options"> -->
         <div class="caniwalk-header-myAccount"><a href="#/account">My Account</a></div>
         <div ng-click="logOut()">Log Out</div>
      <!-- </div> -->
  </div>
</header>
<div class="dashboard-page" ng-controller="accountDashboardController as account">
   <!-- controller located at ~ line 350 of controllers.js -->
   <section class="dashboard-profile">
      <h3>Your Walk History</h3>
      <ul class="dashboard-walk-history">
         <li class="dashboard-total-distance">Total Distance Walked: <span class = "dashboard-total-distance-value"></span></li>
         <li class="dashboard-longest-walk">Longest Walk: <span class = "dashboard-longest-walk-value"></span></li>
         <account-Dashboard></account-Dashboard>
      </ul>
   </section>
   <a class="dashboard-edit-profile" href="#/edit_account"><button type="button">Edit Your Profile</button></a>

</div>
