<header class="caniwalk-header" ng-controller="headerController">
  <a href="#/input-destination"><h4>CAN<span>&#60i&#62</span>WALK</h4></a>
  <div class="caniwalk-header-options-container">
   <i ng-model="headerOptions" ng-click="headerOptions=!headerOptions" class="fa fa-caret-square-o-left fa-2x" aria-hidden="true"></i>
      <div ng-show="headerOptions" class="caniwalk-header-options">
         <div><a href="#/account">My Account</a></div>
         <div ng-click="logOut()">Log Out</div>
      </div>
  </div>
</header>
<div class="editAccount-container" ng-controller="editAccountController">
   <div class="editAccount-form-container">
      <form class="editAccount-form" ng-submit="updateUser()">
         <label class="editAccountFieldLabel">Name</label>
         <input class="editAccount-name"type="text" placeholder="Name" ng-model="username">
         <label class="editAccountFieldLabel">Email</label>
         <input class="editAccount-email" type="text" placeholder="E-mail">
         <div class="editAccount-password-prompt" ng-click="passwordFields=!passwordFields">Change your password?</div>
         <div class="editAccount-password-container" ng-show="passwordFields">
           <label class="editAccountFieldLabel">New Password</label>
           <input class="editAccount-newPassword" type="password" placeholder="Enter New Password">
           <label class="editAccountFieldLabel">Confirm Password</label>
           <input class="editAccount-confirmPassword" type="password" placeholder="Re-enter New Password">
           <div class="editAccount-password-errorMsg"></div>
         </div>
         <h3 class="editAccount-preference-header">Walking Preferences</h3>
         <label class="editAccountFieldLabel">Max Walking Distance<span> <i class="fa fa-question-circle" ng-click="maxdistance = !maxdistance"></i></span></label>
         <input class="editAccount-distance-input" type="number" placeholder="miles"><span class="editAccount-maxdistance-info" ng-show="maxdistance">Please enter the maximum distance that you feel comfortable walking (in miles)</span>
         <label class="editAccountFieldLabel">Accessibility Options  <i class="fa fa-question-circle" ng-click="accessibility = !accessibility"></i></label>
         <input id="checkbox" class="editAccount-accessibility"type="checkbox">
         <label ng-click="checked=!checked" class="editAccount-accessibility-checkbox" for="checkbox"></label>
         <select class="editAccount-accessibility-select" ng-show="checked">
            <option>None</option>
            <option>Cane</option>
            <option>Wheelchair</option>
            <option>Walker</option>
            <option>Scooter</option>
         </select>
         <span class="editAccount-accessibility-info" ng-show="accessibility">If you have walking accessibility needs, check the box and make the appropriate selection.</span>
         <button class="editAccount-saveEdits" type="submit">Save Changes</button>
      </form>
   </div>
</div>
