<header class="caniwalk-header" ng-controller="headerController">
  <a href="#/input-destination"><h4>CAN<span>&#60i&#62</span>WALK</h4></a>
  <div class="caniwalk-header-options-container">
   <i ng-model="headerOptions" ng-click="headerOptions=!headerOptions" class="fa fa-caret-square-o-left fa-2x" aria-hidden="true"></i>
      <div ng-show="headerOptions" class="caniwalk-header-options">
         <div><a href="#/account">My Account</a></div>
         <div ng-click="logOut()">Log Out</div>
      </div>
  </div>
</header>
<div class="editAccount-container" ng-controller="editAccountController">
   <div class="editAccount-form-container">
      <form class="editAccount-form" ng-submit="updateUser()">
         <label>Name</label>
         <input class="editAccount-name"type="text" placeholder="Username" ng-model="username">
         <label>Email</label>
         <input class="editAccount-email" type="text" placeholder="E-mail">
         <h3 class="editAccount-preference-header">Walking Preferences</h3>
         <label>Max Walking Distance<span> <i class="fa fa-question-circle" ng-click="maxdistance = !maxdistance"></i></span></label>
         <input class="editAccount-distance-input" type="number" placeholder="miles"><span class="editAccount-maxdistance-info" ng-show="maxdistance">Please enter the maximum distance in miles that you feel comfortable walking</span>
         <label>Accessibility Options  <i class="fa fa-question-circle" ng-click="accessibility = !accessibility"></i></label>
         <input id="checkbox" class="editAccount-accessibility"type="checkbox">
         <label ng-click="checked=!checked"class="editAccount-accessibility-checkbox" for="checkbox"></label>
         <select class="editAccount-accessibility-select" ng-show="checked">
            <option>None</option>
            <option>Cane</option>
            <option>Wheelchair</option>
            <option>Walker</option>
            <option>Scooter</option>
         </select>
         <span class="editAccount-accessibility-info" ng-show="accessibility">Please enter your accessibility considerations.</span>
         <button class="editAccount-saveEdits" type="submit">Save Your Edits</button>
         <a href="#/password" class="editAccount-change-password">Change Password</a>
      </form>
   </div>
</div>
