<div class="editAccount-container">
   <header class="editAccount-header">
      <a href="#/home"><h4>CAN<span>&#60i&#62</span>WALK</h4></a>
   </header>
   <div class="editAccount-form-container">
      <form class="editAccount-form">
         <label>Name</label>
         <input type="text" placeholder="username">
         <label>Email</label>
         <input type="text" placeholder="email">
         <h3 class="editAccount-preference-header">Walking Preferences</h3>
         <label>Max Walking Distance</label>
         <input type="number">
         <label>Accessibility Options</label>
         <select class="editAccount-accessibility">
            <option class="editAccount-accessibility-options">Cane</option>
            <option class="editAccount-accessibility-options">Walker</option>
            <option class="editAccount-accessibility-options">Wheelchair</option>
            <option class="editAccount-accessibility-options">Scooter</option>
         </select>
         <button class="editAccount-saveEdits" type="submit">Save Your Edits</button>
         <a href="#">Change Password</a>
      </form>
   </div>
</div>
