<div ng-controller="walkController">
   <header class="inputDest-header">
      <a href=""><h4>Can&lti&gtWalk</h4></a>
      <i class="fa fa-bars"></i>
   </header>
   <form class="inputDest-form">
      <input type="text" placeholder="Where do you want to walk today?">
<!-- this next little bit is to display if the user needs to give us some more information for their profile -->
      <a href="#" target="_blank">Fill out your profile to help us help you! Pllllllleeeeassssse</a>
      <button class="btn" type="submit">Can I walk there?</button>
   </form>
</div>
