<header class="caniwalk-header" ng-controller="headerController">
  <a href="#/input-destination"><h4>CAN<span>&#60i&#62</span>WALK</h4></a>
  <div class="caniwalk-header-options-container">
   <i ng-model="headerOptions" ng-click="headerOptions=!headerOptions" class="fa fa-caret-square-o-left fa-2x" aria-hidden="true"></i>
      <div ng-show="headerOptions" class="caniwalk-header-options">
         <div><a href="#/account">My Account</a></div>
         <div ng-click="logOut()">Log Out</div>
      </div>
  </div>
</header>
<div class="inputDest-page" ng-controller="destinationController as vm">
   <form class="inputDest-form">
      <input id="inputDest" class="inputDest-input" type="text" placeholder="Where do you want to walk?" >
      <div class="inputDest-form-suggested-destinations">
        <div ng-click="suggDestList=!suggDestList"class="inputDest-form-suggested-destinations-prompt">Suggested Walk Destinations</div>
          <ul ng-show="suggDestList" class="inputDest-form-suggested-destinations-list">
            <li>List Item</li>
            <li>List Item</li>
          </ul>
      </div>
<!-- this next little bit is to display if the user needs to give us some more information for their profile -->
      <!-- <a href="#/edit_account">Fill out your profile to help you!</a> -->
      <a href="#/walk_info"><button class="btn" type="submit">See Walk Info</button></a>
   </form>
</div>

<!-- on-place-changed="vm.placeChanged()" these were the NGmap autocomplete in input destination feild. They don't really need to be around, but I'm not ready to delete them just yet, just in case. -->
<!-- places-auto-complete   -->
