<!-- I should credit this codepen with helping get our modal working: http://codepen.io/SusanneLundblad/pen/dabcw -->

<div class="login-container">
  <h1 class="login-logo">CAN<span>&#60i&#62</span>WALK</h1>
  <div class="login-signIn">
    <form ng-controller="loginController" ng-submit="login()">
      <label class="login-signIn-field-label" for="login-signIn-email">Email</label>
      <input ng-model="loginEmail" id="login-signIn-email" type="text" placeholder="can@I.walk">
      <label class="login-signIn-field-label" for="login-signIn-password">Password</label>
      <input ng-model="loginPassword" id="login-signIn-password" type="password" placeholder="Password">
      <div class="login-signIn-buttonLink">
        <button class="login-signIn-button" type="submit">Log In</button>
      </div>
    </form>
    <div ng-controller="passwordController">
      <span class="login-signIn-forgotPW" ng-click="passwordModal=true">Forgot Password?</span>
      <div class="login-passwordReset-modalHolder" ng-show="passwordModal">
        <div class="login-passwordReset-modal">
          <input ng-model="passwordResetEmail" id="login-passwordReset-email-input" type="text" placeholder="Account Email">
          <button class="login-passwordReset-email-button" type="submit" ng-click="initiatePasswordChange()">Create New Password</button>
          <h2 class="login-passwordReset-modal-actionText"></h2>
          <h3 ng-click="passwordModal=false" class="login-passwordReset-closeModal">Back to Login</h3>
        </div>
      </div>
    </div>
    <div class="login-signIn-google">
      <div id="g-signin2"></div>
    </div>
    <h3 ng-click="modal=true" class="login-signIn-register">New? Register!</h3>
    <div class="login-register-modalHolder" ng-show="modal">
      <div class="login-register-modal">
        <h2 class="login-register-modal-title">PROVIDE YOUR INFO</h2>
        <div class="login-register-modalfields">
          <form ng-controller="registrationController" ng-submit="register()">
            <label class="login-register-field-modalLabel" for="login-register-name">Name</label>
            <input ng-model="username" id="login-register-name" type="text" placeholder="Your Name">
            <label class="login-register-field-modalLabel" for="login-register-email">Email</label>
            <input ng-model="email" id="login-register-email" type="text" placeholder="can@I.walk">
            <label class="login-register-field-modalLabel" for="login-register-password">Password</label>
            <input ng-model="password" id="login-register-password" type="password" placeholder="Password">
            <button class="login-register-button" type="submit">Sign Up</button>
          </form>
          <h3 ng-click="modal=false" class="login-register-signIn">Already signed up? Log In!</h3>
        </div>
      </div>
    </div>
    <a href="#/home"><button class="login-signIn-guestWalkBtn" type="submit">Just Take a Walk!</button></a>
  </div>
</div>
