<div class="login-container">
  <h1 class="login-logo">CAN<span>&#60i&#62</span>WALK</h1>
  <div class="login-signIn">
    <label class="login-signIn-field-label" for="login-signIn-email">Email</label>
    <input id="login-signIn-email" type="text" placeholder="can@I.walk">
    <label class="login-signIn-field-label" for="login-signIn-password">Password</label>
    <input id="login-signIn-password" type="password" placeholder="Password">
    <div class="login-signIn-buttonLink">
      <button class="login-signIn-button" type="submit">Sign In</button>
      <a href="#"><span class="login-signIn-forgotPW">Forgot Password?</span></a>
    </div>
    <div class="login-signIn-google">
      <i class="fa fa-google fa-2x"></i>
      <span>Sign in with Google!</span>
    </div>
    <h3 class="login-signIn-register">New? Register!</h3>
    <div class="login--signIn-register-modalHolder">
      <div class="login--signIn-register-modal">
        <div class="login--signIn-register-modalfields">
          <label class="login-signIn-field-modalLabel" for="login-signIn-name">Name</label>
          <input id="login-signIn-name" type="text" placeholder="can@I.walk">
          <label class="login-signIn-field-modalLabel" for="login-signIn-email">Email</label>
          <input id="login-signIn-email" type="text" placeholder="can@I.walk">
          <label class="login-signIn-field-modalLabel" for="login-signIn-password">Password</label>
          <input id="login-signIn-password" type="password" placeholder="Password">
        </div>
      </div>
    </div>
    <a href="#/home"><button class="login-signIn-guestWalkBtn" type="submit">Just Take a Walk!</button></a>
  </div>
</div>
