<div class="ratings-container" ng-controller="RatingController as rating">
   <header class="ratings-header">
      <a href="#/home"><h4>CAN<span>&#60i&#62</span>WALK</h4></a>
   </header>
   <div class="ratings-form-container">
      <form class="ratings-form">
         <h2>Rate Your Walk</h2>
         <label class="ratings-category">
            <h3>Safety</h3>
            <!-- angular directives go here -->
            <ratings-stars ng-model="rating.rating1" on-rating-select="rating.rateFunction(rating)"></ratings-stars>
         </label>
         <label class="ratings-category">
            <h3>Ease</h3>
            <ratings-stars ng-model="rating.rating2" on-rating-select="rating.rateFunction(rating)"></ratings-stars>
         </label>
         <label class="ratings-category">
            <h3>Enjoyability</h3>
            <ratings-stars ng-model="rating.rating3" on-rating-select="rating.rateFunction(rating)"></ratings-stars>
         </label>
         <label class="ratings-category">
            <h3>Accessibility</h3>
            <ratings-stars ng-model="rating.rating4" on-rating-select="rating.rateFunction(rating)"></ratings-stars>
         </label>
         <label>Comments</label>
         <textarea placeholder="Any Comments?"></textarea>
         <button type="submit" ng-submit="rabble()">Submit Ratings</button>
      </form>
   </div>
</div>
