<div class="walkInfo-page">
   <header class="walkInfo-header">
      <a href="#/home"><h4>CAN<span>&#60i&#62</span>WALK</h4></a>
   </header>
   <section class="walkInfo-content">
      <h2>Here's your walk to </h2>
      <div class="walkInfo-map" id="map" ng-controller="gMapController">
         <ng-map class="walkInfo-map-google"></ng-map>
      </div>
      <label ng-model="distance" class="walkInfo-distance">distance</label>
      <label ng-model="duration" class="walkInfo-time">duration</label>
      <section class="walkInfo-reviews">
         <h4>Other User Reviews</h4>
         <ul class="walkInfo-review-list">
            <li>date/dest/avg rating?
               <!-- <ul>
                  <li>Safety: </li>
                  <li>Ease: </li>
                  <li>Enjoyability: </li>
                  <li>Comments: </li>
               </ul> -->
            </li>
            <li>date/dest/avg rating?
               <!-- <ul>
                  <li>Safety: </li>
                  <li>Ease: </li>
                  <li>Enjoyability: </li>
                  <li>Comments: </li>
               </ul> -->
            </li>
         </ul>
      </section>
   </section>
   <div class="walkInfo-buttons">
      <button class="walkInfo-accept">Take this walk</button>
      <button class="walkInfo-decline">No thanks</button>
   </div>
</div>
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEbD0mt3gxevwMmJOdu0HSTnA2wGh9pLU&callback=initMap"
async defer></script>
<script src="../assets/js/maps.js"></script> -->
