<header class="caniwalk-header" ng-controller="headerController">
  <a href="#/input-destination"><h4>CAN<span>&#60i&#62</span>WALK</h4></a>
  <div class="caniwalk-header-options-container">
   <!-- <i ng-model="headerOptions" ng-click="headerOptions=!headerOptions" class="fa fa-caret-square-o-left fa-2x" aria-hidden="true"></i> -->
      <!-- <div ng-show="headerOptions" class="caniwalk-header-options"> -->
         <div class="caniwalk-header-myAccount"><a href="#/account">My Account</a></div>
         <div ng-click="logOut()">Log Out</div>
      <!-- </div> -->
  </div>
</header>
<div class="walkInfo-page">
   <section class="walkInfo-content" ng-controller="gMapController">
      <h2>Walk to {{ dest }}</h2>
      <div class="walkInfo-map" id="map"></div>
      <label class="walkInfo-distance"></label>
      <label class="walkInfo-duration"></label>
      <div class="walkInfo-maxDistance-text"></div>
      <div class="walkInfo-weather-intro">Current weather</div>
      <div class="walkInfo-weatherData">
        <div class="walkInfo-weather-icon-container"><img class="walkInfo-weather-icon"/></div>
        <div class="walkInfo-weather-conditions"></div>
        <div class="walkInfo-weather-temperature"></div>
        <div class="walkInfo-weather-sunset"></div>
        <div class="walkInfo-weather-alerts"></div>
      </div>
      <section class="walkInfo-reviews">
         <h4 class="walkInfo-test">Average User Ratings</h4>
         <ul class="walkInfo-review-list">
            <li>
              <ul>
                  <li class="walkInfo-rating-safety"></li>
                  <li class="walkInfo-rating-ease"></li>
                  <li class="walkInfo-rating-enjoyability"></li>
                  <li class="walkInfo-rating-accessibility"></li>
                  <li class="walkInfo-rating-comments"></li>
               </ul>
            </li>
         </ul>
      </section>
   </section>
</div>
<section ng-controller="walkDecisionController">
  <div class="walkInfo-buttons">
     <button class="walkInfo-accept" ng-click="tripTaken()">Take this walk</button>
     <button class="walkInfo-decline" ng-click="modal=true">No thanks</button>
  </div>
  <div class="walkInfo-modal" ng-show="modal">
     <div class="walkInfo-modal-content">
        <header class="walkInfo-modal-header">
           <h2 class="walkInfo-modal-header-main">Decline this walk?</h2>
           <a href="#/input-destination"><button class="walkInfo-modal-nothanks" ng-click="tripNotTaken()">Yes</button></a>
           <a><button class="walkInfo-modal-takewalk" ng-click="modal=false">No</button></a>
        </header>
        <ul>
           <li class="walkInfo-alternate-title">Other transport options:</li>
           <li><a href="http://godurhamtransit.org/">Durham Public Transit</a></li>
           <li><a href="https://rider-app.firebaseapp.com/#/">Rider</a></li>
        </ul>
     </div>
  </div>
</section>
