.password-logo {
  text-align: center;
  color: $BurntOrange;
  font:{
    size: 100px;
    weight: 700;
    family: $Dosis;
  }
  span {
    color: $Teal;
  }
  margin-top: 30px;
}

.password-container {
  width: 80%;
  margin: {
    left: 10%;
    top: 50px;
  };
  text-align: center;
  font:{
    family: $Oswald;
    color: #2E282A;
    size: 35px;
  }
}

.password-field-label {
  display: block;
}

#login-password-newPassword {
  // display: block;
  font:{
    size: 35px;
  }
  margin: 10px;
  width: 60%;
  border: solid 1px $Text;
}

#login-password-confirmPassword {
  // display: block;
  font:{
    size: 35px;
  }
  margin: 10px;
  width: 60%;
  border: solid 1px $Text;
}

.login-signIn-button {
  margin-top: 50px;
}
