//this is the styling for the past walks in the dashboard
.dashboard-profile {
   width: 80%;
   margin-left: 10%;
   font-family: $DroidSans;

   h3 {
      font-size: 2em;
      font-weight: bold;

   }
   .dashboard-walk-history {
      font-size: 1.5em;
      margin-top: 5%;
      li {
         margin-top: 5%;

      }
   }
}


//this is the styling for the ratings drop-down when you click on a walk in the dashboard
.dashboard-ratings {
   li {
      font-size: 0.8em;
   }
}

//styling for 'Edit Profile' Button
.dashboard-edit-profile {
   display: flex;
   // justify-content: center;
   margin-top: 10%;
   text-decoration: none;
   align-items: flex-end;
   position: fixed;
   // bottom: 10%;
   // left: 15%;
   width: 100%;

   button {
      // padding: 1em;
      font-size: 2em;
      background-color: $Teal;
      border: 0.5em solid $Teal;
      // border-radius: 0.5em;
      color: white;
      position: fixed;
      bottom: 0;
      width: 100%;
   }
}
.dashboard-total-distance {
   font-weight: bold;
   span {
      font-weight: normal;
   }
}
.dashboard-longest-walk {
   font-weight: bold;
   span {
      font-weight: normal;
   }
}

.dashboard-trip-numbers {
   color: lighten($Text, 40%);
}

//stars styling
.dashboard-ratings {
   // display: flex;
   // justify-content: space-between;
   margin-bottom: 1em;
   width: 100%;
   li {
      display: flex;
      justify-content: space-between;
   }
   .ratings-stars {
      display: flex;

      .rating {
      }


      .fa-star {
         margin-left: 0.3em;
      }
   }
}
.filled {
   color: $BurntOrange;
}
