.duringWalk-header {
  margin-top: 20px;
   // text-align: center;
   font-size: 2em;
   font-family: $Dosis;
   font-weight: bold;
    h4 {
       color: $BurntOrange;
       span {
          color: $Teal;
       }
    }
}
.duringWalk-map {
    //  font-size: 1em;
     height: 33em;
     width: 90%;
     margin-left: 5%;
  }

.duringWalk-content {
  margin-bottom: 100px;
}

.duringWalk-map-createPOI-container {
  position: relative;
  text-align: center;
  margin-top: 20px;
  font: {
    size: 2em;
  }
}

.duringWalk-map-createPOI-fields {
  position: absolute;
  top: -5px;
  left: 0;
  width: 90%;
  margin-left: 5%;
}

.duringWalk-map-createPOI-fields-input {
  font: {
    size: 1em;
    family: $DroidSans;
  }
  width: 70%;
  border: solid 1px black;
}

.duringWalk-map-createPOI-fields-button {
  color: white;
  background: $BurntOrange;
  border:{
    radius: 2px;
    style: solid 1px $BurntOrange;
  };
  font: {
    size: 1em;
    family: $DroidSans;
  }
  margin-left: -10px;
}

.duringWalk-endWalk-button {
  color: white;
  font: {
    size: 2em;
    family: $DroidSans;
  }
  border: 0.5em solid $Teal;
  background-color: $Teal;
  width: 100%;
  position: fixed;
  bottom: 0px;
}

.duringWalk-endWalk-modalHolder {
  z-index: 1;
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  background: rgba(0, 0, 0, 0.7);
}

.duringWalk-endWalk-modal {
  text-align: center;
  color: white;
  width: 80%;
  margin-left: 10%;
  font: {
    size: 2em;
  }
}

.login-passwordReset-modal-actionText {
  font-size: 2em;
  margin-bottom: 100px;
  padding-top: 50px;
}

.duringWalk-endWalk-confirm-button {
  font:{
    size: 1em;
    family: $Oswald;
  }
  color: white;
  background-color: $Teal;
  border: 0.5em solid $Teal;
  border-radius: 0.5em;
  margin: 20px;
}

.duringWalk-endWalk-deny-button {
  font:{
    size: 1em;
    family: $Oswald;
  }
  color: white;
  background-color: $BurntOrange;
  border: 0.5em solid $BurntOrange;
  border-radius: 0.5em;
  margin: 20px;
}
