.duringWalk-header {
  margin-top: 20px;
   text-align: center;
   font-size: 80px;
   font-family: $Dosis;
   font-weight: bold;
    h4 {
       color: $BurntOrange;
       span {
          color: $Teal;
       }
    }
}

.duringWalk-endWalk-button {
  color: white;
  font: {
    size: 50px;
    family: $Oswald;
  }
  border: 0.5em solid $Teal;
  border-radius: 0.5em;
  background-color: $Teal;
  padding: 15px;
  width: 50%;
  margin-left: 25%;
  position: absolute;
  bottom: 40px;
}
