.duringWalk-header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 2em;
   font-size: 2em;
   font-family: $Dosis;
   font-weight: bold;
   a {
      text-decoration: none;
      h4 {
         color: $BurntOrange;
         span {
            color: $Teal;
         }
      }
   }
}

.duringWalk-endWalk-button {
     font-size: 1em;
     border: 0.5em solid $Teal;
     border-radius: 0.5em;
     background-color: $Teal;
     padding: 1em 0;
     width: 50%;
     margin-left: 15%;
     position: absolute;
     bottom: 2em;
}
