.inputDest-form {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 80%;
   margin-left: 10%;
   color: $Text;
   font-family: $Oswald;

   input {
      font-size: 2em;
      margin-top: 5%;
      border: 1px solid $Text;
   }
   a {
      display: flex;
      margin-top: 5%;
      // font-size: 3em;
      text-decoration: none;
      color: $Text;
      button {
        color: white;
        font:{
          size: 1.2em;
          family: $Oswald;
        }
        border: 0.5em solid $Teal;
        border-radius: 0.5em;
        background-color: $Teal;
      //   padding: 1em 0;
        width: 70%;
        margin-left: 5%;
        position: fixed;
        bottom: 1em;
      }
   }
   .inputDest-form-suggested-destinations{
     .inputDest-form-suggested-destinations-prompt{
       text-align: center;
       font:{
         size: 2em;
       }
       text-decoration: underline;
       margin-top: 1em;
     }
     .inputDest-form-suggested-destinations-list{
       font:{
         size: 2em;
       }
       li {
         margin-top: .5em;
         margin-bottom: .5em;
       }
     }
   }
}
.pac-icon {
   display: none;
}
.pac-item {
   font-size: 3em;
   line-height: 1.5em;
}
.pac-item-query {
   font-size: 1em;
}
