.inputDest-form {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 80%;
   margin-left: 10%;
   color: $Text;
   font-family: $Oswald;

   input {
      font-size: 2em;
      margin-top: 5%;
      border: 1px solid $Text;
   }
   a {
      margin-top: 5%;
      text-decoration: none;
      color: $Text;
   }

   .inputDest-form-suggested-destinations{
     .inputDest-form-suggested-destinations-prompt{
       font:{
         size: 2em;
         weight: bold;
       }
       margin-top: 1em;
     }
     .inputDest-form-suggested-destinations-list{
       margin-bottom: 1em;
       font:{
         size: 1.5em;
       }
       li {
         margin-top: .5em;
         margin-bottom: .5em;
       }
     }
   }
}
.pac-icon {
   display: none;
}
.pac-item {
   font-size: 2em;
   line-height: 1.5em;
}
.pac-item-query {
   font-size: 1em;
}

.inputDest-walkInfo-btn {
   color: white;
   font:{
     size: 1.5em;
     family: $DroidSans;
   }
   border: 0.5em solid $Teal;
   background-color: $Teal;
   width: 100%;
   position: fixed;
   bottom: 0;
 }
