.login-container {
  font:{
    family: $DroidSans;
    color: #2E282A;
    size: 2em;
  }
}

.login-logo {
  padding: 10px;
  text-align: center;
  color: $BurntOrange;
  font:{
    size: 2em;
    weight: 700;
    family: $Dosis;
  }
  span {
    color: $Teal;
  }
  margin-bottom: .5em;
}

.login-signIn {
  width: 80%;
  margin-left: 10%;
}

.login-signIn-errorContainer {
  font-size: 1em;
  color: $BurntOrange;
  margin-top: 0.2em;
  text-align: center;
}

.login-signIn-field-label {
  display: block;
  font-family: $Oswald
}

#login-signIn-email {
  // display: block;
  font:{
    size: 1em;
  }
  padding-left: 5px;
  margin: 10px 0 20px;
  border: solid 1px $Text;
  width: 100%;
}

#login-signIn-password {
  font:{
    size: 1em;
  }
  padding-left: 5px;
  margin: 10px 0 20px;
  border: solid 1px $Text;
  width: 100%;
}

.login-signIn-buttonLink {
   justify-content: center;
}

.login-signIn-button {
  font:{
    size: 1em;
  }
  width: 100%;
  margin-bottom: 10px;
  display: inline-block;
  color: white;
  background-color: $Teal;
  border: 0.5em solid $Teal;
  border-radius: 0.5em;
}

.login-signIn-forgotPW {
   font-size: .8em;
   color: lighten($Text, 15%);
}

// .login-signIn-google {
//   margin-top: 50px;
// }

.login-signIn-register {
   font-size: .8em;
   margin:{
    top: 4em;
    bottom: 0.5em;
   }
  color: lighten($Text, 15%);
}

.login-register-modalHolder, .login-passwordReset-modalHolder{
  z-index: 1;
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  background: rgba(0, 0, 0, 0.7);
}

.login-passwordReset-modal {
  color: white;
  width: 85%;
  margin:{
  top: 8%;
  left: 7.5%;
  }
}

#login-passwordReset-email-input {
  font: {
    size: 1em;
  }
  padding-left: 5px;
  margin-top: .3em;
  width: 100%;
}

.login-passwordReset-email-button {
  font: {
    size: 1em;
  }
  background-color: $Teal;
  border: 0.5em solid $Teal;
  border-radius: 0.5em;
  color: white;
  margin-top: 1em;
}

.login-passwordReset-modal-actionText {
   font-size: 1em;
}

.login-passwordReset-closeModal {
  margin-top: 2em;
  text-align: center;
}

.login-register-modalfields {
  width: 85%;
  margin:{
  top: 8%;
  left: 7.5%;
  }
}

.login-register-field-modalLabel {
  color: white;
  font-family: $Oswald;
}

#login-register-email {
  font:{
    size: 1em;
  }
  margin: 10px 0px;
  width: 95%;
  padding-left: 5px;
}

#login-register-password {
  font:{
    size: 1em;
  }
  margin: 10px 0px;
  width: 95%;
  padding-left: 5px;
}

#login-register-name {
  font:{
    size: 1em;
  }
  margin: 10px 0px;
  width: 95%;
  padding-left: 5px;
}

.login-register-button {
  font:{
    size: 1em;
  }
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  display: inline-block;
  color: white;
  background-color: $Teal;
  border: 0.5em solid $Teal;
  border-radius: 0.5em;
}

.login-register-signIn {
  text-align: center;
  color: white;
  font:{
    size: 1em;
  }
  // width: 85%;
  margin-top: 10%;
}
