.login-container {
  font:{
    family: $Oswald;
    color: #2E282A;
    size: 2em;
  }
}

.login-logo {
  padding: 10px;
  text-align: center;
  color: $BurntOrange;
  font:{
    size: 2em;
    weight: 700;
    family: $Dosis;
  }
  span {
    color: $Teal;
  }
}

.login-signIn {
  width: 80%;
  margin-left: 10%;
}

.login-signIn-errorContainer {
  font-size: 1em;
  color: $BurntOrange;
  text-decoration: underline;
  margin-top: 0.2em;
  text-align: center;
}

.login-signIn-field-label {
  display: block;
}

#login-signIn-email {
  // display: block;
  font:{
    size: 1em;
  }
  margin: 10px 0 20px;
  border: solid 1px $Text;
}

#login-signIn-password {
  // display: block;
  font:{
    size: 1em;
  }
  margin: 10px 0 20px;
  border: solid 1px $Text;
}
.login-signIn-buttonLink {
   display: flex;
   justify-content: center;
}

.login-signIn-button {
  font:{
    size: 1em;
  }
  margin-bottom: 10px;
  display: inline-block;
  color: white;
  background-color: $Teal;
  border: 0.5em solid $Teal;
  border-radius: 0.5em;
}

.login-signIn-forgotPW {
   font-size: 0.75em;
   color: lighten($Text, 15%);
}

.login-signIn-google {
  margin-top: 50px;
}

.login-signIn-register {
   font-size: 0.75em;
   margin:{
    top: 50px;
    bottom: 0.5em;
   }
  color: lighten($Text, 15%);
}

// .login-signIn-guestWalkBtn {
//   position: absolute;
//   bottom: 40px;
//   left: 22%;
//   border-radius: 0.5em;
//   color: white;
//   border: none;
//   background: $Teal;
//   padding: 30px;
//   font:{
//     size: 70px;
//     family: $Oswald;
//   }
// }

.login-register-modalHolder, .login-passwordReset-modalHolder{
  z-index: 1;
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  background: rgba(0, 0, 0, 0.7);
}

.login-passwordReset-modal {
  text-align: center;
  color: white;
  width: 100%;
  // margin-left: 10%;
  font: {
   //  size: 1.5em;
  }
}

#login-passwordReset-email-input {
  font: {
    size: 1em;
  }
  margin-top: 100px;
}

.login-passwordReset-email-button {
  font: {
    size: 1em;
  }
  background-color: $Teal;
  border: 0.5em solid $Teal;
  border-radius: 0.5em;
  color: white;

  margin-top: 100px;
}

.login-passwordReset-modal-actionText {
   font-size: 1em;
  // margin-top: 50px;
}

.login-passwordReset-closeModal {
  margin-top: 200px;
}
.login-register-modal {
   display: flex;
   flex-direction: column;
}

.login-register-modalfields {
  // width: 40%;
  margin:{
  // top: 20%;
  left: 5%;
  }
}


.login-register-modal-title {
  margin: 1em 0;
  text-align: center;
  color: white;
  font:{
    family: $Dosis;
    size: 1.5em;
  }
}

.login-register-field-modalLabel {
  color: white;
}

#login-register-email {
  // display: block;
  font:{
    size: 1em;
  }
  margin: 10px 0px;
}

#login-register-password {
  font:{
    size: 1em;
  }
  margin: 10px 0px;
}

#login-register-name {
  font:{
    size: 1em;
  }
  margin: 10px 0px;
}

.login-register-button {
  font:{
    size: 1em;
  }
  margin-bottom: 30px;
  display: inline-block;
  color: white;
  background-color: $Teal;
  border: 0.5em solid $Teal;
  border-radius: 0.5em;
}

.login-register-signIn {
  text-align: center;
  color: white;
  font:{
    size: 1em;
  }
  margin-top: 10%;
}
