.ratings-form-container {
   font-size: 2em;
   width: 90%;
   margin-left: 5%;
   font-family: $Oswald;
  //  font-family: $DroidSans;
   form {
      display: flex;
      flex-direction: column;

      h2 {
         margin-bottom: .5em;
         font-weight: bold;
      }
      // align-items: center;
      input {
         font-size: 1em;
      }
      .ratings-category {
         display: flex;
         justify-content: space-between;
         margin-bottom: 1em;
         width: 100%;
         .ratings-stars {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: flex-end;
            text-align: right;
            .rating {
               display: flex;
            }
            .star {
               // text-align: right;
               // display: flex;
               // justify-content: flex-end;
            }
            .filled {
               color: $BurntOrange;

            }
            //will need to change these classes to color the stars on rating
         }
      }
      .fa-star {
         margin-left: 0.3em;
      }
      textarea {
         font-size: 1em;
         resize: none;
         padding-left: 5px;
      }
      // .ratings-rate {
      //    font-size: 1em;
      //    margin-top: 1em;
      //    background-color: $Teal;
      //    border: 0.5em solid $Teal;
      //    border-radius: 0.5em;
      //    width: 70%;
      //    margin-left: 15%;
      //    color: white;
      // }
      // a {
      //    .ratings-no-rate {
      //       font-size: 1em;
      //       margin-top: 1em;
      //       background-color: $BurntOrange;
      //       border: 0.5em solid $BurntOrange;
      //       border-radius: 0.5em;
      //       width: 70%;
      //       margin-left: 15%;
      //       color: white;
      //    }
      // }
   }
}
.ratings-error-message {
  font-size: .5em;
   margin-bottom: 1em;
   color: $BurntOrange;
   text-align: center;
}

.ratings-comments {
   border: none;
   margin-top: 0.5em;
}

.ratings-buttons {
  position: fixed;
  left: 0;
  right: 0;
  bottom: -1px;
  font-size: 1em;
  width: 100%;
  button {
     font:{
       size: 1em;
       family: $DroidSans;
     }
     width: 50%;
     padding:{
       top: 15px;
       bottom: 15px;
     }
  }
  .ratings-rate {
    float: left;
    color: white;
    background-color: $Teal;
    border: 2px solid $Teal;
  }
  .ratings-no-rate {
    float: right;
    color: white;
    background-color: $BurntOrange;
    border: 2px solid $BurntOrange;
  }
}//end styling for the accept/decline buttons
