$Teal: #17BEBB;
$Text: #2E282A;
$BurntOrange: #CD5334;
$Tan: #EDB88B;
$Flesh: #EFCFCE;
$Grey-background: #f5f5f1;
$Dosis: 'Dosis', sans-serif;
$Oswald: 'Oswald', sans-serif;

@import 'dashboard';
@import 'duringWalk';
@import 'editAccount';
@import 'inputDest';
@import 'login';
@import 'walkInfo';
