/*logo/big font*/
/*Header font*/
/*body/readable font*/
.dashboard-profile {
  width: 80%;
  margin-left: 10%;
  font-family: "Droid Sans", sans-serif; }
  .dashboard-profile h3 {
    font-size: 2em;
    font-weight: bold; }
  .dashboard-profile .dashboard-walk-history {
    font-size: 1.5em;
    margin-top: 5%; }
    .dashboard-profile .dashboard-walk-history li {
      margin-top: 5%; }

.dashboard-ratings li {
  font-size: 0.8em; }

.dashboard-edit-profile {
  display: flex;
  margin-top: 10%;
  text-decoration: none;
  align-items: flex-end;
  position: fixed;
  width: 100%; }
  .dashboard-edit-profile button {
    font-size: 2em;
    background-color: #17BEBB;
    border: 0.5em solid #17BEBB;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%; }

.dashboard-total-distance {
  font-weight: bold; }
  .dashboard-total-distance span {
    font-weight: normal; }

.dashboard-longest-walk {
  font-weight: bold; }
  .dashboard-longest-walk span {
    font-weight: normal; }

.dashboard-trip-numbers {
  color: #99898e; }

.dashboard-ratings {
  margin-bottom: 1em;
  width: 100%; }
  .dashboard-ratings li {
    display: flex;
    justify-content: space-between; }
  .dashboard-ratings .ratings-stars {
    display: flex; }
    .dashboard-ratings .ratings-stars .fa-star {
      margin-left: 0.3em; }

.filled {
  color: #CD5334; }

.duringWalk-header {
  padding: .5em;
  font-size: 2em;
  font-family: "Dosis", sans-serif;
  font-weight: bold; }
  .duringWalk-header h4 {
    color: #CD5334; }
    .duringWalk-header h4 span {
      color: #17BEBB; }

.duringWalk-map {
  height: 33em;
  width: 90%;
  margin-left: 5%; }

.duringWalk-content {
  margin-bottom: 58px; }

.duringWalk-map-createPOI-container {
  position: relative;
  text-align: center;
  margin-top: 20px;
  font-size: 2em; }

.duringWalk-map-createPOI-prompt {
  color: white;
  background: #CD5334;
  padding-top: 17px;
  padding-bottom: 17px;
  font-size: .8em;
  font-family: "Droid Sans", sans-serif; }

.duringWalk-map-createPOI-fields {
  position: absolute;
  top: 5px;
  left: 0;
  width: 90%;
  margin-left: 5%; }

.duringWalk-map-createPOI-fields-input {
  font-size: .8em;
  font-family: "Droid Sans", sans-serif;
  width: 70%; }

.duringWalk-map-createPOI-fields-button {
  color: white;
  background: #17BEBB;
  border-radius: 2px;
  border-style: solid 1px #17BEBB;
  font-size: .8em;
  font-family: "Droid Sans", sans-serif;
  margin-left: -10px; }

.duringWalk-endWalk-button {
  color: white;
  font-size: 1.6em;
  font-family: "Droid Sans", sans-serif;
  border: 0.5em solid #17BEBB;
  background-color: #17BEBB;
  width: 100%;
  position: fixed;
  bottom: 0px; }

.duringWalk-endWalk-modalHolder {
  z-index: 1;
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  background: rgba(0, 0, 0, 0.7); }

.duringWalk-endWalk-modal {
  text-align: center;
  color: white;
  width: 80%;
  margin-left: 10%;
  font-size: 2em; }

.login-passwordReset-modal-actionText {
  font-size: 2em;
  margin-bottom: 100px;
  padding-top: 50px; }

.duringWalk-endWalk-confirm-button {
  font-size: 1em;
  font-family: "Droid Sans", sans-serif;
  color: white;
  background-color: #17BEBB;
  border: 0.5em solid #17BEBB;
  border-radius: 0.5em;
  margin: 20px; }

.duringWalk-endWalk-deny-button {
  font-size: 1em;
  font-family: "Droid Sans", sans-serif;
  color: white;
  background-color: #CD5334;
  border: 0.5em solid #CD5334;
  border-radius: 0.5em;
  margin: 20px; }

.editAccount-form-container {
  display: flex;
  width: 80%;
  margin-left: 10%;
  font-size: 2em;
  padding-bottom: 30%;
  font-family: "Droid Sans", sans-serif; }
  .editAccount-form-container form {
    display: flex;
    flex-direction: column;
    font-size: 1em; }
    .editAccount-form-container form a {
      color: #2E282A;
      background-color: #CD5334;
      border: 0.5em solid #CD5334;
      border-radius: 0.5em;
      margin-top: 1em; }
    .editAccount-form-container form label {
      margin-top: 1em; }
    .editAccount-form-container form select {
      font-size: 1em;
      color: #2E282A;
      background-color: white; }
    .editAccount-form-container form input {
      font-size: 1em; }
    .editAccount-form-container form .editAccount-password-prompt {
      margin-top: 1em;
      font-size: 0.8em;
      text-align: center; }
    .editAccount-form-container form .editAccount-password-container {
      margin-top: 1em; }
      .editAccount-form-container form .editAccount-password-container input {
        margin-bottom: .8em; }
    .editAccount-form-container form .editAccount-preference-header {
      margin-top: 0.5em;
      border-bottom: 1px solid #2E282A;
      text-align: center;
      width: 70%;
      margin-left: 15%; }
    .editAccount-form-container form .editAccount-distance-input {
      width: 125px; }
    .editAccount-form-container form .editAccount-distance-input::-webkit-inner-spin-button, .editAccount-form-container form .editAccount-distance-input::-webkit-outer-spin-button {
      -webkit-appearance: none; }
    .editAccount-form-container form .editAccount-accessibility {
      display: none; }
    .editAccount-form-container form .editAccount-accessibility + .editAccount-accessibility-checkbox {
      width: 0.75em;
      height: 0.75em;
      border: 0.1em solid #2E282A; }
    .editAccount-form-container form .editAccount-accessibility:checked + .editAccount-accessibility-checkbox {
      background-color: #17BEBB;
      border: 0.1em solid #2E282A; }
    .editAccount-form-container form .editAccount-accessibility-select {
      margin-left: 2em; }
    .editAccount-form-container form .editAccount-maxdistance-info {
      font-size: 0.5em; }
    .editAccount-form-container form .editAccount-accessibility-info {
      font-size: 0.5em; }
    .editAccount-form-container form button {
      position: fixed;
      bottom: 0;
      left: 0;
      font-size: 1em;
      background-color: #17BEBB;
      border: 0.5em solid #17BEBB;
      color: white;
      width: 100%; }

.editAccount-error {
  color: #CD5334;
  text-decoration: underline;
  text-align: center;
  margin-top: 1em; }

.editAccount-password-errorMsg {
  color: #CD5334;
  text-decoration: underline;
  text-align: center; }

.inputDest-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  margin-left: 10%;
  color: #2E282A;
  font-family: "Oswald", sans-serif; }
  .inputDest-form input {
    font-size: 2em;
    margin-top: 5%;
    border: 1px solid #2E282A; }
  .inputDest-form a {
    margin-top: 5%;
    text-decoration: none;
    color: #2E282A; }
  .inputDest-form .inputDest-form-suggested-destinations .inputDest-form-suggested-destinations-prompt {
    font-size: 2em;
    font-weight: bold;
    margin-top: 1em; }
  .inputDest-form .inputDest-form-suggested-destinations .inputDest-form-suggested-destinations-list {
    margin-bottom: 1em;
    font-size: 1.5em; }
    .inputDest-form .inputDest-form-suggested-destinations .inputDest-form-suggested-destinations-list li {
      margin-top: .5em;
      margin-bottom: .5em; }

.pac-icon {
  display: none; }

.pac-item {
  font-size: 2em;
  line-height: 1.5em; }

.pac-item-query {
  font-size: 1em; }

.inputDest-walkInfo-btn {
  color: white;
  font-size: 1.5em;
  font-family: "Droid Sans", sans-serif;
  border: 0.5em solid #17BEBB;
  background-color: #17BEBB;
  width: 100%;
  position: fixed;
  bottom: 0; }

.login-container {
  font-family: "Droid Sans", sans-serif;
  font-color: #2E282A;
  font-size: 2em; }

.login-logo {
  padding: 10px;
  text-align: center;
  color: #CD5334;
  font-size: 2em;
  font-weight: 700;
  font-family: "Dosis", sans-serif;
  margin-bottom: .5em; }
  .login-logo span {
    color: #17BEBB; }

.login-signIn {
  width: 80%;
  margin-left: 10%; }

.login-signIn-errorContainer {
  font-size: 1em;
  color: #CD5334;
  margin-top: 0.2em;
  text-align: center; }

.login-signIn-field-label {
  display: block;
  font-family: "Oswald", sans-serif; }

#login-signIn-email {
  font-size: 1em;
  padding-left: 5px;
  margin: 10px 0 20px;
  border: solid 1px #2E282A;
  width: 100%; }

#login-signIn-password {
  font-size: 1em;
  padding-left: 5px;
  margin: 10px 0 20px;
  border: solid 1px #2E282A;
  width: 100%; }

.login-signIn-buttonLink {
  justify-content: center; }

.login-signIn-button {
  font-size: 1em;
  width: 100%;
  margin-bottom: 10px;
  display: inline-block;
  color: white;
  background-color: #17BEBB;
  border: 0.5em solid #17BEBB;
  border-radius: 0.5em; }

.login-signIn-forgotPW {
  font-size: .8em;
  color: #574c4f; }

.login-signIn-register {
  font-size: .8em;
  margin-top: 4em;
  margin-bottom: 0.5em;
  color: #574c4f; }

.login-register-modalHolder, .login-passwordReset-modalHolder {
  z-index: 1;
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  background: rgba(0, 0, 0, 0.7); }

.login-passwordReset-modal {
  color: white;
  width: 85%;
  margin-top: 8%;
  margin-left: 7.5%; }

#login-passwordReset-email-input {
  font-size: 1em;
  padding-left: 5px;
  margin-top: .3em;
  width: 100%; }

.login-passwordReset-email-button {
  font-size: 1em;
  background-color: #17BEBB;
  border: 0.5em solid #17BEBB;
  border-radius: 0.5em;
  color: white;
  margin-top: 1em; }

.login-passwordReset-modal-actionText {
  font-size: 1em; }

.login-passwordReset-closeModal {
  margin-top: 2em;
  text-align: center; }

.login-register-modalfields {
  width: 85%;
  margin-top: 8%;
  margin-left: 7.5%; }

.login-register-field-modalLabel {
  color: white;
  font-family: "Oswald", sans-serif; }

#login-register-email {
  font-size: 1em;
  margin: 10px 0px;
  width: 95%;
  padding-left: 5px; }

#login-register-password {
  font-size: 1em;
  margin: 10px 0px;
  width: 95%;
  padding-left: 5px; }

#login-register-name {
  font-size: 1em;
  margin: 10px 0px;
  width: 95%;
  padding-left: 5px; }

.login-register-button {
  font-size: 1em;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  display: inline-block;
  color: white;
  background-color: #17BEBB;
  border: 0.5em solid #17BEBB;
  border-radius: 0.5em; }

.login-register-signIn {
  text-align: center;
  color: white;
  font-size: 1em;
  margin-top: 10%; }

.password-logo {
  text-align: center;
  color: #CD5334;
  font-size: 100px;
  font-weight: 700;
  font-family: "Dosis", sans-serif;
  margin-top: 30px; }
  .password-logo span {
    color: #17BEBB; }

.password-container {
  width: 80%;
  margin-left: 10%;
  margin-top: 50px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-color: #2E282A;
  font-size: 35px; }

.password-field-label {
  display: block; }

#login-password-newPassword {
  font-size: 35px;
  margin: 10px;
  width: 60%;
  border: solid 1px #2E282A; }

#login-password-confirmPassword {
  font-size: 35px;
  margin: 10px;
  width: 60%;
  border: solid 1px #2E282A; }

.login-signIn-button {
  margin-top: 50px; }

.walkInfo-content {
  width: 90%;
  margin-left: 5%;
  font-family: "Oswald", sans-serif;
  font-size: 2em;
  color: #2E282A;
  padding-bottom: 4em; }
  .walkInfo-content h2 {
    text-align: center;
    margin-bottom: 10px; }
  .walkInfo-content .walkInfo-map {
    height: 15em;
    width: 100%; }
  .walkInfo-content .walkInfo-distance {
    float: left; }
  .walkInfo-content .walkInfo-duration {
    float: right; }
  .walkInfo-content .walkInfo-test {
    font-weight: bold; }
  .walkInfo-content .walkInfo-weather-intro {
    font-weight: bold;
    margin-top: 10px; }
  .walkInfo-content .walkInfo-maxDistance-text {
    margin-top: 40px;
    text-align: center;
    color: #CD5334;
    font-size: .5em; }
  .walkInfo-content .walkInfo-reviews {
    margin-top: 1.2em; }
    .walkInfo-content .walkInfo-reviews h4 {
      margin-bottom: 0.5em; }
    .walkInfo-content .walkInfo-reviews .walkInfo-rating-number {
      float: right; }
  .walkInfo-content .walkInfo-weatherData {
    margin-top: 25px; }
    .walkInfo-content .walkInfo-weatherData div {
      display: inline-block; }

.walkInfo-map-google {
  height: 100%; }

.ratings-category {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  width: 100%; }
  .ratings-category .ratings-stars {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    text-align: right; }
    .ratings-category .ratings-stars .rating {
      display: flex; }
    .ratings-category .ratings-stars .fa-star {
      margin-left: 0.3em; }

.filled {
  color: #CD5334; }

.walkInfo-buttons {
  position: fixed;
  bottom: -1px;
  font-size: 1em;
  width: 100%; }
  .walkInfo-buttons button {
    font-size: 1.5em;
    font-family: "Droid Sans", sans-serif;
    width: 50%;
    padding-top: 15px;
    padding-bottom: 15px; }
  .walkInfo-buttons .walkInfo-accept {
    float: left;
    color: white;
    background-color: #17BEBB;
    border: 2px solid #17BEBB; }
  .walkInfo-buttons .walkInfo-decline {
    float: right;
    color: white;
    background-color: #CD5334;
    border: 2px solid #CD5334; }

.walkInfo-modal {
  position: absolute;
  top: 15px;
  bottom: 15px;
  left: 15px;
  right: 15px;
  font-size: 2em;
  background-color: rgba(0, 0, 0, 0.7);
  color: #f5f5f1; }
  .walkInfo-modal .walkInfo-modal-content {
    width: 80%;
    margin-left: 10%;
    margin-top: 30%;
    text-align: center;
    opacity: 1; }
  .walkInfo-modal .rider-logo {
    width: 125px;
    height: 43px; }
  .walkInfo-modal button {
    font-size: 1em;
    margin: 0.5em;
    margin-top: 1.5em;
    opacity: 1; }
  .walkInfo-modal .walkInfo-modal-nothanks {
    color: white;
    background-color: #CD5334;
    border: 0.5em solid #CD5334;
    border-radius: 0.5em;
    opacity: 1; }
  .walkInfo-modal .walkInfo-modal-takewalk {
    color: white;
    background-color: #17BEBB;
    border: 0.5em solid #17BEBB;
    border-radius: 0.5em;
    opacity: 1; }
  .walkInfo-modal walkInfo-modal-header-main {
    font-size: 1em;
    opacity: 1; }
  .walkInfo-modal .walkInfo-alternate-title {
    margin-bottom: 0.5em;
    opacity: 1; }
  .walkInfo-modal a {
    color: #f5f5f1;
    opacity: 1; }
  .walkInfo-modal li {
    margin-bottom: 0.5em;
    opacity: 1; }

.ratings-form-container {
  font-size: 2em;
  width: 90%;
  margin-left: 5%;
  font-family: "Oswald", sans-serif; }
  .ratings-form-container form {
    display: flex;
    flex-direction: column; }
    .ratings-form-container form h2 {
      margin-bottom: .5em;
      font-weight: bold; }
    .ratings-form-container form input {
      font-size: 1em; }
    .ratings-form-container form .ratings-category {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1em;
      width: 100%; }
      .ratings-form-container form .ratings-category .ratings-stars {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: flex-end;
        text-align: right; }
        .ratings-form-container form .ratings-category .ratings-stars .rating {
          display: flex; }
        .ratings-form-container form .ratings-category .ratings-stars .filled {
          color: #CD5334; }
    .ratings-form-container form .fa-star {
      margin-left: 0.3em; }
    .ratings-form-container form textarea {
      font-size: 1em;
      resize: none;
      padding-left: 5px; }

.ratings-error-message {
  font-size: .5em;
  margin-bottom: 1em;
  color: #CD5334;
  text-align: center; }

.ratings-comments {
  border: none;
  margin-top: 0.5em; }

.ratings-buttons {
  position: fixed;
  left: 0;
  right: 0;
  bottom: -1px;
  font-size: 1em;
  width: 100%; }
  .ratings-buttons button {
    font-size: 1em;
    font-family: "Droid Sans", sans-serif;
    width: 50%;
    padding-top: 15px;
    padding-bottom: 15px; }
  .ratings-buttons .ratings-rate {
    float: left;
    color: white;
    background-color: #17BEBB;
    border: 2px solid #17BEBB; }
  .ratings-buttons .ratings-no-rate {
    float: right;
    color: white;
    background-color: #CD5334;
    border: 2px solid #CD5334; }

body {
  background: #f5f5f1;
  font-family: "Oswald", sans-serif; }

.caniwalk-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
  font-size: 1em; }
  .caniwalk-header a {
    text-decoration: none; }
    .caniwalk-header a h4 {
      font-size: 2em;
      font-family: "Dosis", sans-serif;
      font-weight: bold;
      color: #CD5334; }
      .caniwalk-header a h4 span {
        color: #17BEBB; }

.caniwalk-header-options-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center; }

.caniwalk-header-myAccount {
  margin-right: 1em; }
  .caniwalk-header-myAccount a {
    color: #2E282A; }

.caniwalk-header-options {
  position: absolute;
  top: 6px;
  left: -360px;
  width: 500px; }
  .caniwalk-header-options div {
    text-align: right;
    font-size: 1.5em;
    margin-right: 20px;
    display: inline-block; }
    .caniwalk-header-options div a {
      text-decoration: none; }

/*# sourceMappingURL=styles.css.map */
