$Teal: #17BEBB;
$Text: #2E282A;
$BurntOrange: #CD5334;
$Tan: #EDB88B;
$Flesh: #EFCFCE;
$Grey-background: #f5f5f1;
$Dosis: 'Dosis', sans-serif; /*header/big font*/
$Oswald: 'Oswald', sans-serif; /*body/readable font*/

@import 'dashboard';
@import 'duringWalk';
@import 'editAccount';
@import 'inputDest';
@import 'login';
@import 'walkInfo';
@import 'ratings';

body {
  background: $Grey-background;
  font-family: $Oswald;
}
