.walkInfo-content {
   width: 80%;
   margin-left: 10%;
   font-family: $Oswald;
   font-size: 2em;
   color: $Text;
   padding-bottom: 4em;
   h2 {
    text-align: center;
   }
   .walkInfo-map {
      font-size: 300px;
      height: 800px;
      width: 100%;
   }
   .walkInfo-distance {
     float: left;
   }
   .walkInfo-duration {
     float: right;
   }
   .walkInfo-test {
      font-weight: bold;
   }
   .walkInfo-weather-intro {
      font-weight: bold;
   }
   .walkInfo-maxDistance-text{
     margin-top: 75px;
     text-align: center;
     color: $BurntOrange;
     font-size: .5em;
   }
   .walkInfo-reviews {
      margin-top: 1.2em;
      h4 {
         margin-bottom: 0.5em;
      }
      .walkInfo-rating-number {
         float: right;
      }
   }
   .walkInfo-weather-intro {
     margin-top: 65px;
   }
   .walkInfo-weatherData {
     margin-top: 25px;
     div {
       display: inline-block;
     }
   }
}

.walkInfo-map-google {
  height: 100%;
}


//styling for the accept walk and decline walk buttons
.walkInfo-buttons {
   position: fixed;
   bottom: 0.05em;
   font-size: 1em;
   width: 100%;
   margin-left: 5%;
   button {
      // padding: 0.5em;
      font:{
        size: 1em;
        family: $Oswald;
      }
      width: 45%;
   }
   .walkInfo-accept {
      font-size: 1.5em;
      color: white;
      background-color: $Teal;
      border: 0.5em solid $Teal;
      border-radius: 0.5em;
   }
   .walkInfo-decline {
      font-size: 1.5em;
      color: white;
      background-color: $BurntOrange;
      border: 0.5em solid $BurntOrange;
      border-radius: 0.5em;
   }
}//end styling for the accept/decline buttons

//styling for the modal!

.walkInfo-modal {
   position: absolute;
   top: 15px;
   bottom: 15px;
   left: 15px;
   right: 15px;
   font-size: 2em;
   background-color: rgba(0, 0, 0, 0.7);
   color: $Grey-background;
   .walkInfo-modal-content {
      width: 80%;
      margin-left: 10%;
      margin-top: 30%;
      text-align: center;
      opacity: 1;
   }
   button {
      font-size: 1em;
      margin: 0.5em;
      margin-top: 1.5em;
      opacity: 1;
   }
   .walkInfo-modal-nothanks {
      color: white;
      background-color: $BurntOrange;
      border: 0.5em solid $BurntOrange;
      border-radius: 0.5em;
      opacity: 1;
   }
   .walkInfo-modal-takewalk {
      color: white;
      background-color: $Teal;
      border: 0.5em solid $Teal;
      border-radius: 0.5em;
      opacity: 1;
   }
   walkInfo-modal-header-main {
      font-size: 1em;
      opacity: 1;
   }
   .walkInfo-alternate-title {
      margin-bottom: 0.5em;
      opacity: 1;
   }
   a {
      color: $Grey-background;
      opacity: 1;
   }
   li {
      margin-bottom: 0.5em;
      opacity: 1;
   }
}
//close styling for the modal
